<launch>
  <!--<arg name="mesh_path" default="package://dvrk_vision/defaults/pelvis.obj" />
  <arg name="scale" default=".000975" />
  <arg name="texture_path" default="package://oct_15_demo/resources/DiffuseHills.png"/>
  <arg name="inlier_ratio" default=".8"/> -->

  <!-- <arg name="mesh_path" default="package://oct_15_demo/resources/SquareOrgan.obj" /> -->
<!--   <arg name="secondary_mesh_path" default="package://oct_15_demo/resources/HillOrganAnnotated.obj" /> -->
<!--   <arg name="texture_path" default="package://oct_15_demo/resources/DiffuseHills.png"/>
  <arg name="scale" default=".98"/>
  <arg name="inlier_ratio" default=".9"/> -->

  <arg name="mesh_path" default="package://oct_15_demo/resources/largeProstate.obj" />
  <arg name="secondary_mesh_path" default="package://oct_15_demo/resources/largeProstateAnnotated.obj" />
  <arg name="texture_path" default="package://oct_15_demo/resources/largeProstate.png"/>
  <arg name="scale" default="1.08" />
  <arg name="inlier_ratio" default=".8"/> 

<!--   <arg name="mesh_path" default="package://dvrk_vision/defaults/bunny.obj" />
  <arg name="secondary_mesh_path" default="package://dvrk_vision/defaults/bunny.obj" />
  <arg name="texture_path" default="package://dvrk_vision/defaults/bunny_diffuse.png"/>
  <arg name="scale" default=".102" /> 
  <arg name="inlier_ratio" default=".8"/>  -->

<!--   <arg name="mesh_path" default="package://oct_15_demo/resources/smallProstate.obj" />
  <arg name="secondary_mesh_path" default="package://oct_15_demo/resources/smallProstateAnnotated.obj" />
  <arg name="texture_path" default="package://oct_15_demo/resources/smallProstate.png"/>
  <arg name="scale" default="1.2" />
  <arg name="inlier_ratio" default=".8"/> -->

  <include file="$(find dvrk_vision)/launch/just_cams.launch">
    <arg name="camera_parent" default="PSM2_psm_base_link"/>
    <arg name="skip_frames" default="2"/>
  </include>

  <node ns="stereo" pkg="nodelet" type="nodelet" name="disparity"
        args="load stereo_image_proc/disparity standalone_nodelet"
        output="screen">
    <param name="queue_size" value="3" />
    <param name="approximate_sync" value="true" />
  </node>

  <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /stereo/disparity $(find dvrk_vision)/defaults/stereo_processing.yaml" />

  <node ns="stereo" pkg="nodelet" type="nodelet" name="point_cloud"
        args="load dvrk_vision/point_cloud2 standalone_nodelet">
    <param name="queue_size" value="3" />
    <remap from="left/image_rect_color" to="left/image_rect"/>
    <remap from="right/image_rect_color" to="right/image_rect"/>
    <param name="approximate_sync" value="true" />
  </node>
  
  <node ns="stereo" name="main_gui" type="main_gui.py" pkg="oct_15_demo" output="screen" clear_params="true" required="true">
    <param name="mesh_path" value="$(arg mesh_path)"/>
    <param name="mesh_scale" value="$(arg scale)"/>
    <param name="texture_path" value="$(arg texture_path)"/>
  </node> 

  <node ns="stereo" name="bingham_registration" type="registration_node" pkg="bingham_registration" output="screen">
    <param name="mesh_path" value="$(arg mesh_path)"/>
    <param name="mesh_scale" value="$(arg scale)"/>
    <param name="inlier_ratio" value="$(arg inlier_ratio)"/>
    <remap from="point_cloud" to="points2"/>
  </node>

  <node name="force_sensor" type="force_sensor_driver.py" pkg="force_sensor_gateway" output="screen"/>
  
</launch>
