<launch>
  <arg name="mesh_path" default="package://oct_15_demo/resources/largeProstate.obj" />
  <arg name="scale" default="1.08" />
<!--   <arg name="mesh_path" default="package://oct_15_demo/resources/smallProstate.obj" />
  <arg name="scale" default="1.2" />  -->
  <!-- <arg name="mesh_path" default="package://oct_15_demo/resources/SquareOrgan.obj" /> -->
  <node ns="stereo" name="probe_service" type="probe_2D_service.py" pkg="oct_15_demo" output="screen">
  	<param name="mesh_path" value="$(arg mesh_path)"/>
  	<param name="scale" value="$(arg scale)"/>
  </node>
  
</launch>